<div
  class="container d-flex flex-column align-items-center vh-100 vw-100"
  *ngIf="contentIsLoaded === true"
>
  <p class="h1 text-primary text-center m-5">{{ survey.title }}</p>

  <div class="container d-flex flex-column w-50">
    <app-survey-min [survey]="survey"></app-survey-min>
  </div>

  <app-survey-statistics
    [surveyStatistics]="survey"
    *ngIf="userRole === roleTypes.COORDINATOR || surveyIsFinished"
  ></app-survey-statistics>

  <app-survey-response
    *ngIf="userRole === roleTypes.RESPONDENT && !surveyIsFinished"
    [survey]="survey"
  ></app-survey-response>
</div>
